<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Błąd 404 - Strony nie znaleziono!</h1>
    <p>Przykro nam, ale strona, której szukasz, nie istnieje.</p>
    <a href="/">Wróć do strony głównej</a>
</body>
</html>