<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Strona Ooooooo NAS</h1>
    <p>
 <h2>O nas</h2>
    <p>Cześć! Jesteśmy Dawid i Michał.</p>
    <p><strong>Dawid</strong> zajmuje się tworzeniem stron internetowych. 
    Projektuje nowoczesne, przejrzyste i funkcjonalne witryny, dopasowane do potrzeb klientów.</p>

    <p><strong>Michał</strong> pasjonuje się wędkarstwem. 
    Wolny czas spędza nad wodą, łowiąc ryby i testując różne techniki połowu.</p>

    <p>Łączymy technologię z pasją – jeden buduje strony, drugi łowi ryby. 🎣💻</p>

    <p>Chcesz wersję bardziej:</p>
    <ul>
        <li>oficjalną</li>
        <li>śmieszną</li>
        <li>dłuższą</li>
        <li>czy bardzo krótką?</li>
    </ul>

</body>
</html>
</p>
</body>
</html>
