<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Strona O NAS</h1>
    <p><%= message %></p>
</body>
</html>