<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Coś poszło nie tak... (Błąd 500)</h1>
    <p>Wystąpił błąd po stronie serwera. Pracujemy nad tym!</p>
</body>
</html>