<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/navbar') %> <!-- DOŁĄCZENIE MENU -->
    <center><h1>Strona główna PORTFOLIO</h1></center>
    <center><p>Witamy na portfolio</p></center>
<div class="portfolio-container">
    
    <div class="portfolio-item">
        <img src="/images/michal.jpg" alt="Michał">
        <p>Michał Kaczewski</p><br>
        <h5>Hobby: łowienie ryb</h5>
    </div>

    <div class="portfolio-item">
        <img src="/images/dawid.jpeg" alt="Dawid">
        <p>Dawid Baczewski</p><br>
        <h5>Hobby: tworzenie stron internetowych</h5>
    </div>
<br><br>
<p>Galeria ryb Michała: </p><br>
<div class="gallery-container">
    <div class="gallery-item">
        <img src="/images/lionfish.png" alt="Lionfish">
        <div class="caption">Lionfish</div>
    </div>
    <div class="gallery-item">
        <img src="/images/ryby.png" alt="Ryby">
        <div class="caption">Ryby 1</div>
    </div>
    <div class="gallery-item">
        <img src="/images/ryby2.png" alt="Ryby 2">
        <div class="caption">Ryby 2</div>
    </div>
    <div class="gallery-item">
        <img src="/images/cooked.png" alt="Cooked">
        <div class="caption">Cooked Fish</div>
    </div>
</div>
</div>  

</body>
</html>
