<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/navbar') %> <!-- DOŁĄCZENIE MENU -->
    <h1>testtt</h1>
    <p><%= message %></p>

</body>
</html>
