<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/navbar') %> <!-- DOŁĄCZENIE MENU -->
    <center><h1>Strona główna PORTFOLIO</h1></center>
    <center><p>Witamy na portfolio</p></center>
<section class="team-section">
    <center><h2>Nasza Ekipa</h2></center>
    <div class="portfolio-container">
        <div class="portfolio-item">
            <img src="/images/michal.jpg" alt="Michał">
            <p>Michał</p>
        </div>
        <div class="portfolio-item">
            <img src="/images/dawid.jpeg" alt="Dawid">
            <p>Dawid</p>
        </div>
    </div>
</section>

<hr> <section class="gallery-section">
    <center><h2>Galeria Ryb Michała</h2></center>
   <div class="gallery-container">
    <div class="gallery-item">
        <img src="/images/Lionfish.png" alt="Lionfish">
        <div class="caption">Lionfish</div>
    </div>
    <div class="gallery-item">
        <img src="/images/ryby.png" alt="Ryby">
        <div class="caption">Ryby 1</div>
    </div>
    <div class="gallery-item">
        <img src="/images/ryby2.png" alt="Ryby 2">
        <div class="caption">Ryby 2</div>
    </div>
    <div class="gallery-item">
        <img src="/images/Cooked.png" alt="Cooked">
        <div class="caption">Cooked Fish</div>
    </div>
</div>
</section>
</body>
</html>
