<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/navbar') %> <!-- DOŁĄCZENIE MENU -->
    <h1>Strona główna PORTFOLIO</h1>
    <p>Witamy na portfolio</p>
    <img src=michal.jpg> Michał Kaczewski <br>
    <img src=dawid.jpeg> Dawid Baczewski <br>
    

</body>
</html>
