<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/navbar') %> <!-- DOŁĄCZENIE MENU -->
    <h1>Strona główna PORTFOLIO</h1>
    <p>Witamy na portfolio</p>
<div class="portfolio-container">
    
    <div class="portfolio-item">
        <img src="/images/michal.jpg" alt="Michał">
        <p>Michał</p>
    </div>

    <div class="portfolio-item">
        <img src="/images/dawid.jpeg" alt="Dawid">
        <p>Dawid</p>
    </div>

</div>  

</body>
</html>
