<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/navbar') %> <!-- DOŁĄCZENIE MENU -->
    <h1>Strona główna PORTFOLIO</h1>
    <p>Witamy na portfolio</p>
    <img src="/images/michal.jpg" height=400px width=400px> <h1>Michał Kaczewski</h1> 
    <img src="/images/dawid.jpeg" height=400px width=400px> <h1>Dawid Baczewski</h1> <br>
    

</body>
</html>
